node_modules/
dist/
.tmp/
.tools/
android-sdk/
app/node_modules/
app/dist/
android-wrapper/.gradle/
android-wrapper/app/build/
android-wrapper/keystore.properties
android-wrapper/app/signing/
android-wrapper/keystore.upload-reset.properties
